<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wasdk_install_btn</key>
	<string>安裝</string>
	<key>wasdk_play_btn</key>
	<string>打開遊戲</string>
	<key>wasdk_info_btn</key>
	<string>資訊</string>
	<key>wasdk_app_btn</key>
	<string>應用</string>
	<key>wasdk_apw_guide_words</key>
	<string>點擊此處彈出菜單</string>
	<key>wasdk_sdk_version</key>
	<string>SDK版本</string>
	<key>wasdk_pat_version</key>
	<string>補丁版本</string>
	<key>wasdk_has_no_pat</key>
	<string>無</string>
	<key>wasdk_login</key>
	<string>登錄</string>
	<key>wasdk_login_facebook</key>
	<string>Facebook</string>
	<key>wasdk_login_game_center</key>
	<string>Game Center</string>
	<key>wasdk_login_vk</key>
	<string>VK</string>
	<key>wasdk_login_signinwithapple</key>
	<string>Sign in with Apple</string>
	<key>wasdk_confirm</key>
	<string>確定</string>
	<key>wasdk_cancel</key>
	<string>取消</string>
	<key>wasdk_loading</key>
	<string>載入中</string>
	<key>wasdk_visitor</key>
	<string>訪客</string>
	<key>wasdk_bind</key>
	<string>綁定</string>
	<key>wasdk_unbind</key>
	<string>解綁</string>
	<key>wasdk_bound</key>
	<string>已綁定</string>
	<key>wasdk_unbound</key>
	<string>未綁定</string>
	<key>wasdk_create_ccount</key>
	<string>新建帳戶</string>
	<key>wasdk_account_management</key>
	<string>帳戶管理</string>
	<key>wasdk_change_account</key>
	<string>切換帳戶</string>
	<key>wasdk_unbind_account</key>
	<string>解綁帳戶</string>
	<key>wasdk_tip_warning</key>
	<string>警告</string>
	<key>wasdk_tip_unbind_unique_third_party</key>
	<string>解綁唯一已綁定的協力廠商平臺帳戶會導致帳戶資料丟失，是否確定解綁？</string>
	<key>wasdk_tip_can_not_unbind</key>
	<string>該帳戶不可解綁</string>
	<key>wasdk_tip_create_account_lost_data</key>
	<string>如果沒有綁定協力廠商平臺帳戶，新建使用者會導致資料丟失，且無法找回；如果已經綁定了協力廠商平臺帳戶，可以使用協力廠商平臺帳戶登錄</string>
	<key>wasdk_tip_fail_change_account</key>
	<string>切換帳戶登錄失敗，請稍後重試</string>
	<key>wasdk_tip_relog</key>
	<string>需要重新登錄</string>
	<key>wasdk_tip_fail_access_account_data</key>
	<string>獲取帳號失敗，請稍後重試</string>
	<key>wasdk_tip_bind_succ</key>
	<string>綁定成功!</string>
	<key>wasdk_tip_bind_fail</key>
	<string>綁定失敗，請稍後重試</string>
	<key>wasdk_tip_bind_fail_other_user</key>
	<string>此平臺帳號已經綁定了其它用戶</string>
	<key>wasdk_tip_unbind_succ</key>
	<string>解綁成功!</string>
	<key>wasdk_tip_unbind_fail</key>
	<string>解綁失敗，請稍後重試</string>
	<key>wasdk_tip_create_user_fail</key>
	<string>創建新用戶失敗，請稍後重試</string>
	<key>wasdk_drag_up_fresh</key>
	<string>點擊或上拉載入更多</string>
	<key>wasdk_no_more_data</key>
	<string>没有更多</string>
	<key>wasdk_load_more</key>
	<string>載入 ...</string>
	<key>wasdk_pull_down_refresh</key>
	<string>下拉刷新</string>
	<key>wasdk_release_refresh</key>
	<string>放開刷新</string>
	<key>wasdk_purchase</key>
	<string>充值</string>
	<key>wasdk_pay_exit_alert</key>
	<string>您確定要退出支付嗎?</string>
	<key>wasdk_notice</key>
	<string>注意</string>
	<key>wasdk_jailbreak_not_purchase</key>
	<string>您不能在越獄的機器上進行購買</string>
	<key>wasdk_copy</key>
	<string>複製</string>
	<key>wasdk_login_twitter</key>
	<string>Twitter</string>
	<key>wasdk_login_instagram</key>
	<string>Instagram</string>
	<key>wasdk_tip_bind_closed</key>
	<string>綁定失敗</string>
	<key>wasdk_tip_unbind_closed</key>
	<string>解綁失敗</string>
	<key>wasdk_loading_error</key>
	<string>網路錯誤，請稍後重試</string>
	<key>wasdk_privacy_policy</key>
	<string>《用戶協議》和《隱私政策》</string>
	<key>wasdk_privacy_reminder</key>
	<string>隱私政策提醒</string>
	<key>wasdk_privacy_policy_alert_content</key>
	<string>感謝您支援本產品，在正式開始前，請您閱讀並同意本產品的《用戶協議》和《隱私政策》</string>
	<key>wasdk_privacy_view details</key>
	<string>點擊查看《用户协议》和《隐私政策》詳情</string>
	<key>wasdk_no_agree</key>
	<string>拒絕</string>
	<key>wasdk_agree</key>
	<string>同意</string>
	<key>wasdk_privacy_policy_agree</key>
	<string>我已閱讀並同意</string>
	<key>wasdk_please_agree_privacy_policy</key>
	<string>請先同意本產品《用戶協議》和《隱私政策》</string>
	<key>wasdk_user_center</key>
	<string>用戶中心</string>
	<key>wasdk_initial_account</key>
	<string>初始帳號</string>
	<key>wasdk_initial_password</key>
	<string>初始密碼</string>
	<key>wasdk_i_know</key>
	<string>我知道了</string>
	<key>wasdk_copied</key>
	<string>已複製</string>
	<key>wasdk_payment_center</key>
	<string>儲值中心</string>
	<key>wasdk_payment_character_id</key>
	<string>CharacterID</string>
	<key>wasdk_pay_way_title</key>
	<string>充值流程</string>
	<key>wasdk_pay_way_1</key>
	<string>1、點擊下面的按鈕複製網址</string>
	<key>wasdk_pay_way_2</key>
	<string>2. 打開手機瀏覽器，粘貼網址並訪問
即可以更優惠的價格購買</string>
	<key>wasdk_short_link_dated_alert</key>
	<string>鏈接有效期為5分鐘，逾時需重新獲取</string>
	<key>wasdk_ad_agreement_content</key>
	<string>尊敬的用戶，在您正式開始下一步有關本遊戲的遊戲賬號註銷流程前，請務必先詳細閱讀並同意《遊戲賬號註銷協議》(以下簡稱“本協議”)。
        您按照我們的註銷操作流程開始註銷的，經過您勾選本協議並點擊下一步操作的，即視為您已經同意和遵守本協議全部內容。我們在此特別提醒您:

請您妥善處理，包括但不限於遊戲代幣，其他遊戲虛擬道具等，若註銷時未處理則視為您放棄遊戲權益。如您成功提交賬號註銷申請，我們將從您提交賬號註銷次日起，為您保留該賬號%d 日。在此期內，我們暫時不會刪除或匿名化處理該賬號的相關信息(如您的好友仍可見您的頭像、暱稱等賬號信息)，但法律法規或相關政策另有規定的除外。如果您在這 %d天內，使用該賬號登錄本遊戲，將視為您撤銷該賬號註銷申請。此後 %d  日內未再登錄該賬號，我們將完成該賬號註銷，刪除或匿名化處理您的相關個人信息。
        註銷本遊戲賬號後，除法律法規和本協議另有規定外，您該遊戲賬號下的個人信息將會被刪除或匿名化處理，您無法再檢索、訪問、獲取、繼續使用和找回，也無權要求我們找回個人信息，前述個人信息包括但不限於:頭像、暱稱、購買或遊戲內獲得的一切遊戲虛擬道具及其他增值服務、發言、地區、遊戲中聊天記錄等內容。
    有關遊戲賬號註銷的其他詳細規則及注意事項請點擊查看《遊戲賬號註銷協議 》。</string>
	<key>wasdk_ad_agreement_readalert</key>
	<string>請先同意《遊戲賬號註銷協議》</string>
	<key>wasdk_ad_agreement_haveread</key>
	<string>我已詳細閱讀並同意《遊戲賬號註銷協議》</string>
	<key>wasdk_ad_agreement_title</key>
	<string>閱讀遊戲賬號註銷協議</string>
	<key>wasdk_ad_agreement_match1</key>
	<string>《遊戲賬號註銷協議》</string>
	<key>wasdk_ad_agreement_match2</key>
	<string>《遊戲賬號註銷協議 》</string>
	<key>wasdk_ad_agreement_cancel</key>
	<string>取消</string>
	<key>wasdk_ad_agreement_next</key>
	<string>下一步</string>
	<key>wasdk_ad_agreement_validation</key>
	<string>驗  證</string>
	<key>wasdk_ad_agreement_finish</key>
	<string>完  成</string>
	<key>wasdk_ad_authorization_title</key>
	<string>第三方授權驗證</string>
	<key>wasdk_ad_authorization_content</key>
	<string>賬號綁定了第三方賬號,請選擇當前綁定的第三方賬號進行驗證,驗證通過後自動進入下一步</string>
	<key>wasdk_ad_authorization_signinwithapple</key>
	<string>SigninwithApple</string>
	<key>wasdk_ad_finished_title</key>
	<string>註銷遊戲賬號申請提交成功
</string>
	<key>wasdk_ad_finished_content1</key>
	<string>感謝您對本遊戲的支持</string>
	<key>wasdk_ad_finished_content2</key>
	<string>您的賬號已於%@ 完成註銷條件審核，成功提交註銷申請。除法律法規規定和註銷協議約定情形外，我們將為您保留該賬號至%@ (從您提交註銷申請次日起 %d 日)。此後   %d日內未登錄該賬號，賬號註銷申請成功，我們將刪除或匿名化處理您的相關個人信息。</string>
	<key>wasdk_ad_finished_content3</key>
	<string>在前述%d日屆滿前，請您不要登錄和使用該賬號，以確保註銷的順利完成，否則視為您撤銷註銷申請</string>
	<key>wasdk_ad_login_alerttitle</key>
	<string>提醒</string>
	<key>wasdk_ad_login_alertcontent</key>
	<string>本賬號正在申請賬號註銷，將於%@完成，如您選擇繼續登錄即默認您撤銷本次賬號註銷申請，請知悉</string>
	<key>wasdk_ad_login_cancellogin</key>
	<string>取消登錄</string>
	<key>wasdk_ad_login_goonlogin</key>
	<string>繼續登錄</string>
	<key>wasdk_gamereview_title</key>
	<string>給個好評</string>
	<key>wasdk_gamereview_content</key>
	<string>如果你喜歡這個app，請您給我們好評，同時也歡迎您提供出寶貴的意見，感謝您的支持!</string>
	<key>wasdk_gamereview_rateus</key>
	<string>給好評</string>
	<key>wasdk_gamereview_feedback</key>
	<string>我要提意見</string>
	<key>wasdk_gamereview_refuse</key>
	<string>不，謝謝！</string>
	<key>wa_sdk_web_login_confirm_exit</key>
	<string>確認是否退出登錄？</string>
	<key>wasdk_login_signup</key>
	<string>註冊</string>
	<key>wasdk_login_email</key>
	<string>郵箱</string>
	<key>wasdk_login_password</key>
	<string>密碼</string>
	<key>wasdk_login_by_mobile</key>
	<string>手機登錄</string>
	<key>wasdk_login_by_email</key>
	<string>郵箱登錄</string>
	<key>wasdk_login_forget_pass</key>
	<string>忘記密碼?</string>
	<key>wasdk_login_thirid_login</key>
	<string>其他登錄方式</string>
	<key>wasdk_login_mobile</key>
	<string>手機號</string>
	<key>wasdk_login_search_country</key>
	<string>搜索國家和地區</string>
	<key>wasdk_login_ver_code</key>
	<string>驗證碼</string>
	<key>wasdk_login_get_code</key>
	<string>獲取驗證碼</string>
	<key>wasdk_login_signinandup</key>
	<string>登錄/註冊</string>
	<key>wasdk_login_new_pass</key>
	<string>新密碼</string>
	<key>wasdk_login_confirm_pass</key>
	<string>確認新密碼</string>
	<key>wasdk_login_find_my_password</key>
	<string>找回密碼</string>
	<key>wasdk_login_gotologin</key>
	<string>去登錄</string>
	<key>wasdk_login_next</key>
	<string>下一步</string>
	<key>wasdk_login_pass_reset_success</key>
	<string>密碼修改成功！</string>
	<key>wasdk_login_pass_format</key>
	<string>6-20位密碼，數字或者符號</string>
	<key>wasdk_login_fields_not_match</key>
	<string>確認密碼不一致</string>
	<key>wasdk_login_ver_code_incorrect</key>
	<string>驗證碼錯誤</string>
	<key>wasdk_login_ver_limit_reached</key>
	<string>驗證碼驗證次數超過限制</string>
	<key>wasdk_login_email_registered</key>
	<string>郵箱地址已被使用</string>
	<key>wasdk_login_too_many_attempt</key>
	<string>短信發送超過限制!</string>
	<key>wasdk_login_invalid_email</key>
	<string>郵箱格式錯誤</string>
	<key>wasdk_login_email_not_exist</key>
	<string>郵箱帳號不存在!</string>
	<key>wasdk_login_mobile_not_exist</key>
	<string>手機號不存在!</string>
	<key>wasdk_login_emailcodesend_mesage</key>
	<string>短信驗證碼已經發送到你的郵箱</string>
	<key>wasdk_login_phonecodesend_mesage</key>
	<string>短信驗證碼已經發送到你的手機</string>
	<key>wasdk_login_incorrect_account_password</key>
	<string>帳號或密碼錯誤</string>
	<key>wasdk_login_enter_right_email</key>
	<string>請輸入正確的郵箱地址</string>
	<key>wasdk_login_enter_right_phone</key>
	<string>請輸入正確的手機號碼</string>
	<key>wasdk_login_enter_right_code</key>
	<string>請輸入正確的驗證碼</string>
	<key>wasdk_login_phone_invalid</key>
	<string>無效手機號</string>
	<key>wasdk_login_code_has_expired</key>
	<string>驗證碼已過期</string>
	<key>wasdk_login_userinfo_invalid</key>
	<string>無效用戶資訊</string>
	<key>wasdk_login_repeat_failed_message</key>
	<string>登錄失敗次數達到上限，已被凍結2小時，請於%@後重試。</string>
	<key>wasdk_login_frozen_message</key>
	<string>再登錄失敗%d次，將被凍結2小時。</string>
	<key>wasdk_login_bind_email</key>
	<string>郵箱綁定</string>
	<key>wasdk_login_bind_number</key>
	<string>手機綁定</string>
	<key>wasdk_login_no_data</key>
	<string>沒有數據</string>
	<key>wasdk_login_read_agree_agreement</key>
	<string>我已閱讀並同意《用戶協議》和《隱私政策》</string>
	<key>wasdk_login_login_failed</key>
	<string>登錄失敗</string>
	<key>wasdk_login_pass_cannout_empty</key>
	<string>密碼不能為空</string>
	<key>wasdk_login_signup_failed</key>
	<string>註冊失敗</string>
	<key>wasdk_login_changepass_failed</key>
	<string>修改密碼失敗</string>
	<key>wasdk_login_sendcode_failed</key>
	<string>驗證碼發送失敗</string>
	<key>wasdk_login_mobile_exists</key>
	<string>手機帳號已存在！</string>
	<key>wasdk_login_email_exists</key>
	<string>郵箱帳號已存在！</string>
	<key>wasdk_more</key>
	<string>更多</string>
	<key>wasdk_login_signupbyemail</key>
	<string>登入電郵注册</string>
	<key>wasdk_login_eamillogin_title</key>
	<string>電郵地址</string>
	<key>wasdk_login_phonelogin_title</key>
	<string>電話號碼</string>
	<key>wa_sdk_graph_code</key>
	<string>圖形驗證碼</string>
	<key>wa_sdk_please_input_correct_graph_code</key>
	<string>請輸入正確的圖形驗證碼</string>
	<key>wa_sdk_settings_customer_services</key>
	<string>支援</string>
	<key>wa_sdk_settings_account_manager</key>
	<string>帳號管理</string>
	<key>wa_sdk_settings_account_delete</key>
	<string>帳號註銷</string>
	<key>wa_sdk_settings_customer_center</key>
	<string>客服中心</string>
	<key>wa_sdk_settings_user_center</key>
	<string>用戶中心</string>
	<key>wa_sdk_settings_data_consent</key>
	<string>資料使用同意</string>
	<key>wa_sdk_not_remind_next_time</key>
	<string>下次不再提醒</string>
	<key>wa_sdk_login_fail_conent</key>
	<string>登入失敗，請聯絡客服尋求幫助。</string>
	<key>wa_sdk_login_fail_kefu</key>
	<string>客服</string>
	<key>wa_sdk_pass_name_f5</key>
	<string>F5 VIP</string>
	<key>wa_sdk_pass_name_ghg</key>
	<string>GHG PLUS</string>
	<key>wa_sdk_copy_the_link</key>
	<string>複製連結</string>
	<key>wa_sdk_check_pass</key>
	<string>在瀏覽器中打開此連結查看%@的剩餘天數</string>
	<key>wa_sdk_join_pass</key>
	<string>在瀏覽器中打開此連結領取專屬福利。</string>
</dict>
</plist>
