<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wasdk_install_btn</key>
	<string>安装</string>
	<key>wasdk_play_btn</key>
	<string>打开</string>
	<key>wasdk_info_btn</key>
	<string>资讯</string>
	<key>wasdk_app_btn</key>
	<string>应用</string>
	<key>wasdk_apw_guide_words</key>
	<string>点击此处弹出菜单</string>
	<key>wasdk_sdk_version</key>
	<string>SDK版本</string>
	<key>wasdk_pat_version</key>
	<string>Pat版本</string>
	<key>wasdk_has_no_pat</key>
	<string>无</string>
	<key>wasdk_login</key>
	<string>登录</string>
	<key>wasdk_login_facebook</key>
	<string>Facebook</string>
	<key>wasdk_login_signinwithapple</key>
	<string>Sign in with Apple</string>
	<key>wasdk_login_game_center</key>
	<string>Game Center</string>
	<key>wasdk_login_vk</key>
	<string>VK</string>
	<key>wasdk_confirm</key>
	<string>确定</string>
	<key>wasdk_cancel</key>
	<string>取消</string>
	<key>wasdk_loading</key>
	<string>加载中</string>
	<key>wasdk_visitor</key>
	<string>访客</string>
	<key>wasdk_bind</key>
	<string>绑定</string>
	<key>wasdk_unbind</key>
	<string>解绑</string>
	<key>wasdk_bound</key>
	<string>已绑定</string>
	<key>wasdk_unbound</key>
	<string>未绑定</string>
	<key>wasdk_create_ccount</key>
	<string>新建账户</string>
	<key>wasdk_account_management</key>
	<string>账户管理</string>
	<key>wasdk_change_account</key>
	<string>切换账户</string>
	<key>wasdk_unbind_account</key>
	<string>解绑账户</string>
	<key>wasdk_tip_warning</key>
	<string>警告</string>
	<key>wasdk_tip_unbind_unique_third_party</key>
	<string>解绑唯一已绑定的第三方平台账户会导致账户数据丢失，是否确定解绑？</string>
	<key>wasdk_tip_can_not_unbind</key>
	<string>该账户不可解绑。</string>
	<key>wasdk_tip_create_account_lost_data</key>
	<string>如果没有绑定第三方平台账户，新建用户会导致数据丢失，且无法找回；如果已经绑定了第三方平台账户，可以使用第三方平台账户登录</string>
	<key>wasdk_tip_fail_change_account</key>
	<string>切换账户登录失败，请稍后重试</string>
	<key>wasdk_tip_relog</key>
	<string>需要重新登录</string>
	<key>wasdk_tip_fail_access_account_data</key>
	<string>获取账号失败，请稍后重试。</string>
	<key>wasdk_tip_bind_succ</key>
	<string>绑定成功!</string>
	<key>wasdk_tip_bind_fail</key>
	<string>绑定失败，请稍后重试</string>
	<key>wasdk_tip_bind_fail_other_user</key>
	<string>此平台帐号已经绑定了其它用户</string>
	<key>wasdk_tip_unbind_succ</key>
	<string>解绑成功!</string>
	<key>wasdk_tip_unbind_fail</key>
	<string>解绑失败，请稍后重试</string>
	<key>wasdk_tip_create_user_fail</key>
	<string>创建新用户失败，请稍后重试</string>
	<key>wasdk_drag_up_fresh</key>
	<string>点击或上拉加载更多</string>
	<key>wasdk_no_more_data</key>
	<string>没有更多</string>
	<key>wasdk_load_more</key>
	<string>加载 ...</string>
	<key>wasdk_pull_down_refresh</key>
	<string>下拉刷新</string>
	<key>wasdk_release_refresh</key>
	<string>放开刷新</string>
	<key>wasdk_purchase</key>
	<string>充值</string>
	<key>wasdk_pay_exit_alert</key>
	<string>您确定要退出支付吗?</string>
	<key>wasdk_notice</key>
	<string>注意</string>
	<key>wasdk_jailbreak_not_purchase</key>
	<string>您不能在越狱的机器上进行购买    </string>
	<key>wasdk_copy</key>
	<string>复制</string>
	<key>wasdk_login_twitter</key>
	<string>Twitter</string>
	<key>wasdk_login_instagram</key>
	<string>Instagram</string>
	<key>wasdk_tip_bind_closed</key>
	<string>绑定失败</string>
	<key>wasdk_tip_unbind_closed</key>
	<string>解绑失败</string>
	<key>wasdk_loading_error</key>
	<string>网络错误，请稍后重试</string>
	<key>wasdk_privacy_policy</key>
	<string>《用户协议》和《隐私政策》</string>
	<key>wasdk_privacy_reminder</key>
	<string>隐私政策提醒</string>
	<key>wasdk_privacy_policy_alert_content</key>
	<string>感谢您支持本产品，在正式开始前，请您阅读并同意本产品的《用户协议》和《隐私政策》</string>
	<key>wasdk_privacy_view details</key>
	<string>点击查看《用户协议》和《隐私政策》详情</string>
	<key>wasdk_no_agree</key>
	<string>拒绝</string>
	<key>wasdk_agree</key>
	<string>同意</string>
	<key>wasdk_privacy_policy_agree</key>
	<string>我已阅读并同意</string>
	<key>wasdk_please_agree_privacy_policy</key>
	<string>请先同意本产品《用户协议》和《隐私政策》</string>
	<key>wasdk_user_center</key>
	<string>用户中心</string>
	<key>wasdk_initial_account</key>
	<string>初始账号</string>
	<key>wasdk_initial_password</key>
	<string>初始密码</string>
	<key>wasdk_i_know</key>
	<string>我知道了</string>
	<key>wasdk_copied</key>
	<string>已复制</string>
	<key>wasdk_payment_center</key>
	<string>充值中心</string>
	<key>wasdk_payment_character_id</key>
	<string>CharacterID</string>
	<key>wasdk_pay_way_title</key>
	<string>充值流程</string>
	<key>wasdk_pay_way_1</key>
	<string>1. 点击下面的按钮复制网址</string>
	<key>wasdk_pay_way_2</key>
	<string>2. 打开手机浏览器，粘贴网址并访问
即可以更优惠的价格购买</string>
	<key>wasdk_short_link_dated_alert</key>
	<string>链接有效期为5分钟，逾时需重新获取</string>
	<key>wasdk_ad_agreement_content</key>
	<string>        尊敬的用户，在您正式开始下一步有关本游戏的游戏账号注销流程前，请务必先详细阅读并同意《游戏账号注销协议》(以下简称“本协议”)。
        您按照我们的注销操作流程开始注销的，经过您勾选本协议并点击下一步操作的，即视为您已经同意和遵守本协议全部内容。我们在此特别提醒您:
    请您妥善处理，包括但不限于游戏代币，其他游戏虚拟道具等，若注销时未处理则视为您放弃游戏权益。如您成功提交账号注销申请，我们将从您提交账号注销次日起，为您保留该账号%d 日。在此期内，我们暂时不会删除或匿名化处理该账号的相关信息(如您的好友仍可见您的头像、昵称等账号信息)，但法律法规或相关政策另有规定的除外。如果您在这 %d天内，使用该账号登录本游戏，将视为您撤销该账号注销申请。此后 %d  日内未再登录该账号，我们将完成该账号注销，删除或匿名化处理您的相关个人信息。
       
        注销本游戏账号后，除法律法规和本协议另有规定外，您该游戏账号下的个人信息将会被删除或匿名化处理，您无法再检索、访问、获取、继续使用和找回，也无权要求我们找回个人信息，前述个人信息包括但不限于:头像、昵称、购买或游戏内获得的一切游戏虚拟道具及其他增值服务、发言、地区、游戏中聊天记录等内容。
    有关游戏账号注销的其他详细规则及注意事项请点击查看《游戏账号注销协议 》。






</string>
	<key>wasdk_ad_agreement_readalert</key>
	<string>请先同意《游戏账号注销协议》</string>
	<key>wasdk_ad_agreement_haveread</key>
	<string>我已详细阅读并同意《游戏账号注销协议》</string>
	<key>wasdk_ad_agreement_title</key>
	<string>阅读游戏账号注销协议</string>
	<key>wasdk_ad_agreement_match1</key>
	<string>《游戏账号注销协议》</string>
	<key>wasdk_ad_agreement_match2</key>
	<string>《游戏账号注销协议 》</string>
	<key>wasdk_ad_agreement_cancel</key>
	<string>取消</string>
	<key>wasdk_ad_agreement_next</key>
	<string>下一步</string>
	<key>wasdk_ad_agreement_validation</key>
	<string>验  证</string>
	<key>wasdk_ad_agreement_finish</key>
	<string>完  成</string>
	<key>wasdk_ad_authorization_title</key>
	<string>第三方授权验证</string>
	<key>wasdk_ad_authorization_content</key>
	<string>账号绑定了第三方账号,请选择当前绑定的第三方账号进行验证,验证通过后自动进入下一步</string>
	<key>wasdk_ad_authorization_signinwithapple</key>
	<string>SigninwithApple</string>
	<key>wasdk_ad_finished_title</key>
	<string>注销游戏账号申请提交成功</string>
	<key>wasdk_ad_finished_content1</key>
	<string>感谢您对本游戏的支持</string>
	<key>wasdk_ad_finished_content2</key>
	<string>您的账号已于%@ 完成注销条件审核，成功提交注销申请。除法律法规规定和注销协议约定情形外，我们将为您保留该账号至%@ (从您提交注销申请次日起 %d 日)。此后   %d日内未登录该账号，账号注销申请成功，我们将删除或匿名化处理您的相关个人信息。</string>
	<key>wasdk_ad_finished_content3</key>
	<string>在前述%d日届满前，请您不要登录和使用该账号，以确保注销的顺利完成，否则视为您撤销注销申请</string>
	<key>wasdk_ad_login_alerttitle</key>
	<string>提醒</string>
	<key>wasdk_ad_login_alertcontent</key>
	<string>本账号正在申请账号注销，将于%@完成，如您选择继续登录即默认您撤销本次账号注销申请，请知悉</string>
	<key>wasdk_ad_login_cancellogin</key>
	<string>取消登录</string>
	<key>wasdk_ad_login_goonlogin</key>
	<string>继续登录</string>
	<key>wasdk_gamereview_title</key>
	<string>请你给个好评</string>
	<key>wasdk_gamereview_content</key>
	<string>如果你喜欢这个游戏App，请您花一分钟对游戏App进行好评。同时也欢迎您提供宝贵意见给我们，感谢您的支持!</string>
	<key>wasdk_gamereview_rateus</key>
	<string>提交好评</string>
	<key>wasdk_gamereview_feedback</key>
	<string>我要提意见</string>
	<key>wasdk_gamereview_refuse</key>
	<string>不，谢谢！</string>
	<key>wa_sdk_web_login_confirm_exit</key>
	<string>确认是否退出登录?</string>
	<key>wasdk_login_signup</key>
	<string>注册</string>
	<key>wasdk_login_email</key>
	<string>邮箱</string>
	<key>wasdk_login_password</key>
	<string>密码</string>
	<key>wasdk_login_by_mobile</key>
	<string>手机登录</string>
	<key>wasdk_login_by_email</key>
	<string>邮箱登录</string>
	<key>wasdk_login_forget_pass</key>
	<string>忘记密码?</string>
	<key>wasdk_login_thirid_login</key>
	<string>其他登录方式</string>
	<key>wasdk_login_mobile</key>
	<string>手机号</string>
	<key>wasdk_login_search_country</key>
	<string>搜索国家和地区</string>
	<key>wasdk_login_ver_code</key>
	<string>验证码</string>
	<key>wasdk_login_get_code</key>
	<string>获取验证码</string>
	<key>wasdk_login_signinandup</key>
	<string>登录/注册</string>
	<key>wasdk_login_new_pass</key>
	<string>新密码</string>
	<key>wasdk_login_confirm_pass</key>
	<string>确认新密码</string>
	<key>wasdk_login_find_my_password</key>
	<string>找回密码</string>
	<key>wasdk_login_gotologin</key>
	<string>去登录</string>
	<key>wasdk_login_next</key>
	<string>下一步</string>
	<key>wasdk_login_pass_reset_success</key>
	<string>密码修改成功！</string>
	<key>wasdk_login_pass_format</key>
	<string>6-20位密码，数字或者符号</string>
	<key>wasdk_login_fields_not_match</key>
	<string>确认密码不一致</string>
	<key>wasdk_login_ver_code_incorrect</key>
	<string>验证码错误</string>
	<key>wasdk_login_ver_limit_reached</key>
	<string>验证码验证次数超过限制</string>
	<key>wasdk_login_email_registered</key>
	<string>邮箱地址已被使用</string>
	<key>wasdk_login_too_many_attempt</key>
	<string>短信发送超过限制!</string>
	<key>wasdk_login_invalid_email</key>
	<string>邮箱格式错误</string>
	<key>wasdk_login_email_not_exist</key>
	<string>邮箱帐号不存在!</string>
	<key>wasdk_login_mobile_not_exist</key>
	<string>手机号不存在!</string>
	<key>wasdk_login_emailcodesend_mesage</key>
	<string>短信验证码已经发送到你的邮箱</string>
	<key>wasdk_login_phonecodesend_mesage</key>
	<string>短信验证码已经发送到你的手机</string>
	<key>wasdk_login_incorrect_account_password</key>
	<string>帐号或密码错误</string>
	<key>wasdk_login_enter_right_email</key>
	<string>请输入正确的邮箱地址</string>
	<key>wasdk_login_enter_right_phone</key>
	<string>请输入正确的手机号码</string>
	<key>wasdk_login_enter_right_code</key>
	<string>请输入正确的验证码</string>
	<key>wasdk_login_phone_invalid</key>
	<string>无效手机号</string>
	<key>wasdk_login_code_has_expired</key>
	<string>验证码已过期</string>
	<key>wasdk_login_userinfo_invalid</key>
	<string>无效用户信息</string>
	<key>wasdk_login_repeat_failed_message</key>
	<string>登录失败次数达到上限，已被冻结2小时，请于%@后重试。</string>
	<key>wasdk_login_frozen_message</key>
	<string>再登录失败%d次，将被冻结2小时。</string>
	<key>wasdk_login_bind_email</key>
	<string>邮箱绑定</string>
	<key>wasdk_login_bind_number</key>
	<string>手机绑定</string>
	<key>wasdk_login_no_data</key>
	<string>没有数据</string>
	<key>wasdk_login_read_agree_agreement</key>
	<string>我已阅读并同意《用户协议》和《隐私政策》</string>
	<key>wasdk_login_login_failed</key>
	<string>登录失败</string>
	<key>wasdk_login_pass_cannout_empty</key>
	<string>密码不能为空</string>
	<key>wasdk_login_signup_failed</key>
	<string>注册失败</string>
	<key>wasdk_login_changepass_failed</key>
	<string>修改密码失败</string>
	<key>wasdk_login_sendcode_failed</key>
	<string>验证码发送失败</string>
	<key>wasdk_login_mobile_exists</key>
	<string>手机帐号已存在！</string>
	<key>wasdk_login_email_exists</key>
	<string>邮箱帐号已存在！</string>
	<key>wasdk_more</key>
	<string>更多</string>
	<key>wasdk_login_signupbyemail</key>
	<string>邮箱注册</string>
	<key>wasdk_login_eamillogin_title</key>
	<string>邮箱登录</string>
	<key>wasdk_login_phonelogin_title</key>
	<string>手机登录</string>
	<key>wa_sdk_graph_code</key>
	<string>图形验证码</string>
	<key>wa_sdk_please_input_correct_graph_code</key>
	<string>请输入正确的图形验证码</string>
	<key>wa_sdk_settings_customer_services</key>
	<string>客服</string>
	<key>wa_sdk_settings_account_manager</key>
	<string>账号管理</string>
	<key>wa_sdk_settings_account_delete</key>
	<string>账号注销</string>
	<key>wa_sdk_settings_customer_center</key>
	<string>客服中心</string>
	<key>wa_sdk_settings_user_center</key>
	<string>用户中心</string>
	<key>wa_sdk_settings_data_consent</key>
	<string>Consent设置</string>
	<key>wa_sdk_not_remind_next_time</key>
	<string>下次不再提醒</string>
</dict>
</plist>
